body {
  /*font: 14px "Quicksand", Helvetica, Arial, sans-serif;*/
  font-weight: bold;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.margin-top {
  margin-top: 10px;
}

button.btn.btn-default.navbar-left {
  margin-top: 7px;
}

.selected, .selected.unread {
  background-color: #fff6cf;
}

.read {
  font-weight: normal;
  background-color: #D3D3D3;
}

.unread {
  font-weight: bold;
  background-color: #fff;
}


table.table tr{
  border-bottom:1px solid #d7d7d7;
}

.label-as-badge {
  border-radius: 1em;
  margin-left: 3px;
  margin-right: 3px;
}

.message-cell-check, .message-cell-star {
  width: 40px;
}

.message-cell-check {
  padding-left: 30px !important;
}

.message-cell-star {
  padding-left: 20px !important;
}


















