body {
  /*font: 14px "Quicksand", Helvetica, Arial, sans-serif;*/
  font-weight: bold;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.margin-top {
  margin-top: 10px;
}

button.btn.btn-default.navbar-left {
  margin-top: 7px;
}

.selected, .selected.unread {
  background-color: #fff6cf;
}

.read {
  font-weight: normal;
  background-color: #D3D3D3;
}

.unread {
  font-weight: bold;
  background-color: #fff;
}

/*tr.message{
  border-bottom:1px solid gray;
}*/

table.table tr{
  border-bottom:1px solid gray;
}