body {
  /*font: 14px "Quicksand", Helvetica, Arial, sans-serif;*/
  font-weight: bold;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

.margin-top {
  margin-top: 10px;
}

button.btn.btn-default.navbar-left {
  margin-top: 7px;
}




