doctype html
html
  head
    title Javascript Inbox
    link(rel='stylesheet', href='http://bootswatch.com/flatly/bootstrap.css')
    link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/javascripts/scripts.js')